{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Technologie principale</th>
                <td>{{ project.mainTech }}</td>
            </tr>
            <tr>
                <th>Technologie secondaire</th>
                <td>{{ project.secondTech }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" role="button" href="{{ path('app_project_index') }}">Retour à la liste</a>

    <a class="btn btn-success" href="{{ path('app_project_edit', {'id': project.id}) }}" role="button">Modifier</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
